/* :root{
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  } */
  :root {
    --bs-navbar-active-color: #A100B9
}
*{
box-sizing: border-box;
}
section{
    background-color: #F0F6FF
}

a, div, span{
    font-family: Montserrat, sans-serif;
}
a:hover{
    
}
p{
    font-family: Montserrat, sans-serif;
    font-size: 17px;
}
h1 , h2, h3, h4, h5, h6{
    font-family: Montserrat, sans-serif;
 
}
ul, li {
    font-family: Montserrat, sans-serif;

}
li a:hover{
    color: #A100B9;
}
/* ===================================================== HEADER ==================================================== */
.elementor-item{
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    fill: #A100B9;
    flex: 1 1 auto;
    flex-grow: 1;
    list-style-type: none;
    padding: 13px 20px;
    place-items: center normal;
    position: relative;
    transition-duration: 0.4s;
    border-bottom: 2px solid transparent; /* Añade un borde transparente por defecto */
}
.rose-text{
    color: #A100B9;
}

.elementor-item:hover {
    border-bottom: 2px solid #A100B9; /* Cambia el color y estilo del borde al hacer hover */
}
.es{
    color: green ;
}
.en{
    color: blue;
}
.check{
    position: relative;
    width: 40px;
    margin-left: 0px;
    margin-right: 8px;
     
}
.check::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 15px;
    background: #fff;
    border-radius: 28px;
}
.check::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 15px;
    background: white;
    border-radius: 25px;
    transition: 0.5s;
    border: 8px solid green;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -1px;
}
.check:checked::after{
    left: 16px;
    border: 8px solid blue;
    margin-top: -1px;

}
.check:checked::before{
    color: blue;
   

}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #fff;
       background: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: #ffffff;
    --bs-dropdown-link-hover-color: #A100B9;
    --bs-dropdown-link-hover-bg: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    --bs-dropdown-link-active-color: #040404;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    text-align: left;
    list-style: none;
    background-color: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    font-weight: 600;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 600;
    color: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
.Navbar-Section {
    background: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid white;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3e%3cpath stroke=\'#ffffff\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' stroke-width=\'2\' d=\'M4 7h22M4 15h22M4 23h22\'/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.carousel1 {
    margin-top: 75px;
    width: 100%;
    height: 400px;
     /* background-image: url(../IMAGE/Carrusel/vecteezy_blue-abstract-technology-hitech-backgroundcircuit_8952080.png);  */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 65vh;
}

/* header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999; 
} */
.steps-section h5 {
    font-weight: 700;

}

.step-icon {
    border-radius: 50%;
    background-color: #C1C1C1;
    height: 45px;
    width: 45px;
    text-align: center;
    padding-top: 3px;
    transform: scale(0.7);
    opacity: 70%;
    position: relative;
    right: 4px;
    padding-top: 6px;
}

.logo {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.sizeLogo {
    width: 50px;
    height: 50px;
}

.sizeName {
    width: 250px;
    height: 40px;
}

.nav-link {
    color: white;
    font-weight: 700;
}

.nav-link:hover {
    color: #A100B9;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #A100B9;
}

.top_button_section {

    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
}

.login-bt {
    width: auto;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: 0px;
    border-radius: 10px;
    height: 45px;
    margin-left: 10px;
    transition: background-color 0.5s ease;
}

.login-bt:hover {
    background-color: #A100B9;
}

.search {
    top: -8px;
    position: relative;
    left: -10px;
}

.m-r {
    
    margin-right: 5px;
}

.conteneddor_boton_carrito {
    margin-left: 80px;
    margin-right: 20px;
}

.banner_section {
    width: 100%;
    float: left;
    padding-top: 0px;
    padding: 0;
    margin-top: 30px;
}

.layout_padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.banner_Titulo {
    font-size: 45px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 70px;
}

.text_banner {
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    padding-left: 20px;
    margin: 15px 15px;
}

.ads_bt {
    text-decoration: none;
    width: 35%;
    float: left;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #A100B9;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    padding-top: 9px;
    transition: background-color 0.5s ease;
    border: 1px solid #D71E95;
}

.ads_bt:hover {
    background-color: #D71E95;
    color: #ffffff;
    border: 1px solid white;
}

.contact_bt {
    width: 35%;
    text-decoration: none;
    float: right;
    height: 50px;
    font-size: 18px;
    color: #0a0808;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    padding-top: 9px;
}

.ImagenCarrucel {
    width: 100%;
    height: 90%;
    padding: 10px;
}

.ImagenCarrucel2 {
    margin-top: 50px;
    width: 90%;
    height: 80%;
}

.ImagenCarrucel3 {
    margin-top: 87px;
    width: 100%;
    height: 80%;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    padding: 0;
    color: #ffffff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-prev-icon {
    background-image: url(/IMAGE/SVG/circle-chevron-left-solid.svg);
}

.carousel-control-next-icon {
    background-image: url(/IMAGE/SVG/circle-chevron-right-solid.svg);

}

.contact_bt a {
    color: #0a0808
}

.contact_bt a:hover {
    color: #000;
}

.espacio {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.espacio-4 {
    padding: 1.5rem !important;
}

.margin-1 {
    margin-top: 0.25rem !important;
}

.espacio-2 {
    padding: 0.5rem !important;
}

.espacio-top {
    padding-top: 40px;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-top-3 {
    margin-top: 2.5rem !important;
}

.margin-top-5 {
    margin-top: 4rem !important;
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .sizeName {
        width: 180px;
        height: 35px;
    }

    .carousel {
        /* background-image: url(/IMAGE/Carrusel/vecteezy_blue-abstract-technology-hitech-backgroundcircuit_8952080.jpg); */
        margin-top: 45px;
        height: 450px;
        min-height: 100%;
    }

    .banner_Titulo {
        font-size: 15px;
        padding-top: 0px;
    }

    .espacio {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .espacio-4 {
        padding: 0rem !important;
    }

    .margin-1 {
        margin-top: 0rem !important;
    }

    .espacio-2 {
        padding: 0rem !important;
    }

    .espacio-top {
        padding-top: 0px;
    }

    .margin-top-1 {
        margin-top: 0rem !important;
    }

    .margin-top-3 {
        margin-top: 2.5rem !important;
    }

    .margin-top-5 {
        margin-top: 2rem !important;
    }

    .text_banner {
        width: 100%;
        font-size: 14px;
        color: #ffffff;
        padding-left: 0px;
        padding-right: 80px;
        margin: 5px 0px;
    }

    .ads_bt {
        width: auto;
        float: left;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;

    }

    .ImagenCarrucel {
        width: 75%;
        height: 90%;
        margin: auto;
    }

    .ImagenCarrucel2 {
        margin-top: 25px;
        width: 90%;
        height: 60%;
        margin-left: 18px;
    }

    .ImagenCarrucel3 {
        margin-top: 50px;
        width: 90%;
        height: 70%;
        margin-left: 18px;
    }

    .carousel-control-next,
    .carousel-control-prev {

        width: 8%;
        margin: auto;

    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    

    .carousel {
        margin-top: 60px;
        height: 350px;
        min-height: 100%;
       
    }

    .banner_Titulo {
        font-size: 15px;
        padding-top: 0px;
    }

    .espacio {
        padding-right: 0rem !important;
        padding-left: 1rem !important;
    }

    .espacio-4 {
        padding: 0rem !important;
    }

    .margin-1 {
        margin-top: 0rem !important;
    }

    .espacio-2 {
        padding: 0rem !important;
    }

    .espacio-top {
        padding-top: 0px;
    }

    .margin-top-1 {
        margin-top: 0rem !important;
    }

    .margin-top-3 {
        margin-top: 2.5rem !important;
    }

    .margin-top-5 {
        margin-top: 2rem !important;
    }

    .text_banner {
        width: 100%;
        font-size: 14px;
        color: #ffffff;
        padding-left: 0px;
        padding-right: 20px;
        margin: 5px 0px;
    }

    .ads_bt {
        width: 40%;
        float: left;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
    }

    .ImagenCarrucel {
        width: 90%;
        height: 90%;
    }

    .ImagenCarrucel2 {
        margin-top: 0px;
        width: 90%;
        height: 80%;
        margin-left: 18px;
    }

    .ImagenCarrucel3 {
        margin-top: 30px;
        width: 85%;
        height: 85%;
        margin-left: 18px;
    }
}
@media only screen and (min-width:1025px) and (max-width:1370px){
     

    .carousel1 {
        margin-top: 60px;
        height: 500px;
        min-height: 65vh;
    }

    .banner_Titulo {
        font-size: 45px;
        padding-top: 10px;
    }

    .espacio {
        padding-right: 0rem !important;
        padding-left: 1rem !important;
    }

    .espacio-4 {
        padding: 0rem !important;
    }

    .margin-1 {
        margin-top: 0rem !important;
    }

    .espacio-2 {
        padding: 0rem !important;
    }

    .espacio-top {
        padding-top: 0px;
    }

    .margin-top-1 {
        margin-top: 0rem !important;
    }

    .margin-top-3 {
        margin-top: 5.5rem !important;
    }

    .margin-top-5 {
        margin-top: 2rem !important;
    }

    .text_banner {
        width: 100%;
        font-size: 20px;
        color: #ffffff;
        padding-left: 85px;
        padding-right: 20px;
        margin: 5px 0px;
    }

    .ads_bt {
        width: 40%;
        float: left;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
    }

    .ImagenCarrucel {
        width: 100%;
        height: 90%;
    }

    .ImagenCarrucel2 {
        margin-top: 0px;
        width: 90%;
        height: 90%;
        margin-left: 18px;
    }

    .ImagenCarrucel3 {
        margin-top: 30px;
        width: 85%;
        height: 89%;
        margin-left: 40px;
    }
}
@media only screen and (min-width: 1371px) and (max-width: 2000px) {
     

    .carousel1 {
        margin-top: 70px;
        height: 350px;
        min-height: 80vh;
    }

    .banner_Titulo {
        font-size: 45px;
        padding-top: 10px;
    }

    .espacio {
        padding-right: 0rem !important;
        padding-left: 1rem !important;
    }

    .espacio-4 {
        padding: 0rem !important;
    }

    .margin-1 {
        margin-top: 0rem !important;
    }

    .espacio-2 {
        padding: 0rem !important;
    }

    .espacio-top {
        padding-top: 0px;
    }

    .margin-top-1 {
        margin-top: 0rem !important;
    }

    .margin-top-3 {
        margin-top: 6.5rem !important;
    }

    .margin-top-5 {
        margin-top: 2rem !important;
    }

    .text_banner {
        width: 100%;
        font-size: 25px;
        color: #ffffff;
        padding-left: 85px;
        padding-right: 20px;
        margin: 5px 0px;
    }

    .ads_bt {
        width: 40%;
        float: left;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
    }

    .ImagenCarrucel {
        width: 85%;
        height: 90%;
    }

    .ImagenCarrucel2 {
        margin-top: 0px;
        width: 90%;
        height: 80%;
        margin-left: 18px;
    }

    .ImagenCarrucel3 {
        margin-top: 40px;
        width: 85%;
        height: 89%;
        margin-left: 40px;
    }
}
/* =================================== CUERPO ==================================================== */
.about_section {
    width: 100%;
    background-image: url(../IMAGE/about-bg.png);
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 25px 0px;
    padding-bottom: 245px;
}

.tablet {
    width: 100%;
    float: left;
    margin-top: 0px;
    background: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    border-radius: 100%;
    box-shadow: 3px 1px 12px 3px #000008;
}

.tablet-imagen {
    width: 100%;
    height: 100%;

}

.layout_padding2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.layout_padding3 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.about_text {
    width: 60%;
    float: right;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #090807;
    font-weight: 500;
    text-align: right;
    border-bottom: 1px solid #000;
}

.step_text {
    width: 35%;
    float: left;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    margin-left: 40px;
}

.Nombre-about {
    margin-top: -30px;
}

.dolor_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #030303;
    text-align: right;
    font-weight: 500;
    padding-top: 10px;
    margin-left: 0px;
}

.read_more {
    width: 30%;
    float: right;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
    border-radius: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    padding-top: 9px;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
}

.read_more:hover {

    background: #BA04AC;
}

.image-box-title {
    box-sizing: border-box;
    color: #090E36;
    font-family: Montserrat, sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    margin: 0px 0px 20px;
    text-align: center;
    word-wrap: break-word;
}
.image-box-title2 {
    box-sizing: border-box;
    color: #090E36;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 66px;
    margin: 0px 0px 20px;
    text-align: center;
    word-wrap: break-word;
}
.subindex-title{
    box-sizing: border-box;
    color: #090E36;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin: 0px 0px 20px;
    text-align: center;
    word-wrap: break-word;
}

.box-img-lenguaje {
    border: 1px solid black;
}
.cont-img{
    background-color: white;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
}
.Img-Lenguajes {
    margin: auto;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    overflow: clip;
    vertical-align: middle;
}

.banner-etapas {
    z-index: -1;
    clear: both;
    background-image: url(../IMAGE/Banner-Etapas/sl_021920_28190_02.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    

}
.br-20{
    border-radius: 20px;
}
.banner-Ofrecemos {
    z-index: -1;
    clear: both;
    background-image: url(../IMAGE/Lenguajes/126093-OQTGT7-907.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.banner-web{
    z-index: -1;
    clear: both;
    background-image: url(../IMAGE/Lenguajes/html-system-website-concept.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.margen-top-header{
    margin-top: 75px;
}

.header_section {
    margin-top: 75px;
    width: 100%;
    height: auto;
    color: #000000;

}
.header_section2{
    margin-top: 75px;
    width: 100%;
    height: auto;
    color: #000000;
}
.header_section3 {
    margin-top: 75px;
    width: 100%;
    height: 250px;
    color: #fff;
    background-image: url(../IMAGE/Header-html/vecteezy_blue-abstract2.png);
    background-size:  100% 100% ;
    background-repeat: no-repeat;
     
   
}
.header_subIndex{
    margin-top: 75px;
    width: 100%;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px #000;
}
.header_subIndex .row{
    background-color: white !important;
    box-shadow: 4px 3px 9px 6px #00000014;
}
.bg 
{
    background-color: white !important;
}

.Imgbanner {
    margin-top: 40px;
    width: 100%;
    height: 100%;
}
.Imgbanner2 {
    margin-top: 15px;
    width: 100%;
     
}
.banner-Clientes{
    z-index: -1;
    clear: both;
    background-image: url(../IMAGE/Clientes/sl_021920_28190_02.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%  ;
    background-repeat: no-repeat;
    
}
.elementor-widget-image-carousel .swiper, .elementor-widget-image-carousel .swiper-container {
    position: static;
   
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.elementor-widget-image-carousel .swiper-slide {
    text-align: center;
}
.elementor-widget-image-carousel .swiper-container .swiper-slide figure, .elementor-widget-image-carousel .swiper .swiper-slide figure {
    line-height: inherit;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 5px;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    transform: translateZ(0);
    z-index: 10;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.swiper-pagination-bullett {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,20%);
    background: #ffffff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
.swiper-slide-image{
    width: 280px;
    height: 280px;
    
}

.FondoOscuro{
    /* background-color: #00000094; */
    border-radius: 10%;
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */

}
.swiper-slide-inner{
     
    display: flex;
    justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,-10px);
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%;
}
.Cliente-title {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    margin-left: 20%;
    margin-right: 20%;
}



.carousel2 {
    margin-top: 75px;
    width: 100%;
    height: 260px;
    background-image: url(../IMAGE/Header-html/vecteezy_blue-abstract.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.ImagenCarrucelTienda {
    height: 300px;
    width: 100%;
    margin-top: -20px;
}
.centrar-p{
    
    margin-top: 5%;
}

.title-table {
    background: #A100B9;
	color: white;
    font-size: 20px;
	font-weight: 700;
    box-shadow: rgba(42, 67, 113, 0.3) 8px 8px 18px 0px;
	box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 5% ;
    margin-left: 5%;
    padding: 10px 5px;
    text-align: center;
}
.title-Personalizacion-Web{
    background-color: #04acbc; 
    border-radius: 10px; 
     
    padding-top: 7px; 
    width: 80%; 
    margin: auto;
    color: white !important;
}
.ot-heading h6, .ot-heading .sub-heading {
    font-size: 14px;
    font-weight: bold;
    color: #a5b7d2;
    position: relative;
    display: inline-block;
    padding-left: 21px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.img-desarrollo{
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
        
}
.img-desarrollo2{
    width: 100%;
    height: 180px;
    margin-bottom: 15px; 
}
.efecto-hover {
    transition: transform 0.5s ease;
    border-radius: 10px;
    background-color: white;
}
.efecto-hover:hover{
    transform: translateY(-10px);
}
.details {
    margin-top: 5px;
    padding: 6px 20px 15px 20px;

    line-height: 25px;
    text-align: center;
    list-style: none;
}
.details2 {
    margin-top: 5px;
    padding: 6px 20px 15px 22px;
    line-height: 25px;
    list-style-type: none;
    list-style: none;
    margin-right: -8px;
    margin-left: -8px;
    display: block;
    flex-wrap: wrap;
}
.button-slide {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    margin-top: -25px;
    background: linear-gradient(to right, #D71E95, #A100B9, #BA04AC);
    transition: background 0.3s ease;
}

.button-slide::before {
    color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D71E95, #A100B9, #BA04AC);
    transition: left 0.3s ease;
}

.standar-rounded-button{
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(to right, #D71E95, #A100B9, #BA04AC);
    transition: background 0.3s ease;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 18px;
    margin-top: -25px;
}
.standar-rounded-button:hover{
    background: linear-gradient(to left, #D71E95, #A100B9, #BA04AC);
    color: #fff;
}

.button-slide:hover::before {
    left: 0;
}

.button-slide:hover {
    background: linear-gradient(to left, #D71E95, #A100B9, #BA04AC);
    color: #fff;
}
.img-banner-contact{
    margin-top: 27%;
    width: 100%;
    height: 100px;
}

.trabajos{
    padding: 50px 0 150px 0;
}
 .swiper{
    width: 100%;
    padding: 10px 0 10px 0 ;
}

.swiper-slide{
    width: 90%;
    height: auto;
    
    padding: 10px;
}
/* .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.icons i {
    font-size: 20px;
    color: #ffb900;
}
.icons img {
    width: 220px;
} */

.product-content {
    flex-basis: 100%;
    
}

.product-img {
    flex-basis: 100%;
    
}
.product-img img {
width: 100%;
 
 
}

.pt-6{
    padding-top: 4.3rem !important;
}
.pr-3{
    padding-right: 10px;
}
.infocontacto{

	box-sizing: border-box;
	padding: 37px 50px;
	position: relative;

    
	z-index: 0;
}
.pd-form-5{
    padding: 30px;
}
.pd-form-2{
    padding: 30px;
}
.acerca-de{
    
    
    font-size: 70px; 
}
.imagen-nosotros{
    padding: 0px 20px 10px 10px;
    width: 80%;
}
.imagen-nosotros2{
    width: 100% !important;
    padding: 0px 20px 10px 10px;
    margin-top: 110px;
}
.texto-nosotros{
    padding: 50px 30px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.margin-top-menos{
    margin-top: -80px;
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
    .change-to-order1{
        order: 1;
    }
    .orden-4{
        order: 3;
    }
    .margin-top-menos{
        margin-top:0px;
    }
    .header_section {
        margin-top: 70px;
        width: 100%;
        height: auto;
    }
    .centrar-p{
        padding-top: 20px;
    }
    .Imgbanner {
        margin-top: 45px;
        width: 100%;
        height: 80%;
    }
    .Imgbanner2 {
        margin-top: 5px;
        width: 100%;
        height: 80%;
    }
    .ImagenCarrucelTienda {
        height: 250px;
        width: 95%;
        margin-top: -20px;
        margin-left: 10px;
    }
    .img-desarrollo {
        width: 90%;
        margin-left: 15px;
    }
    .about_text {
        width: 100%;
        float: right;
        font-size: 40px;
        color: #090807;
        font-weight: 500;
        text-align: right;
        border-bottom: 1px solid #000;

    }

    .Nombre-about {
        margin-top: -30px;
        width: 100%;
    }
    .carousel-cliente{
        margin: 0px 60px;
    }
    .img-banner-contact{
        margin-top: 10%;
        width: 100%;
        height: 80px;
    }
    .image-box-title {

        font-size: 45px;

    }
    .pd-form-5{
        padding: 0px;
    }
    .pd-form-2{
        padding: 10px;
    }
    .header_section3 {
        margin-top: 75px;
        width: 100%;
        height: 200px;
        color: #fff;
        background-image: url(../IMAGE/Header-html/vecteezy_blue-abstract2.png);
        background-size:  100% 100% ;
        background-repeat: no-repeat;
    
    }
    .acerca-de{
        margin-top: 30px;
         text-align: center;
        font-size: 35px; 
    }
    .imagen-nosotros{
        padding: 0px;
        width: 100%;
    }
    .texto-nosotros{
        padding: 10px 30px;
    }
    .imagen-nosotros2{
        width: 100% !important;
        padding: 0px;
        margin-top: 0px;
    }
 
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    .orden{
        order: 1;
    }

}
@media only screen and (min-width: 601px) and (max-width: 850px){
    .header_section {
        margin-top: 75px;
        width: 100%;
        height: auto;
    }
    
    .centrar-p{
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .margin-top-menos{
        margin-top: -10px;
    }
    .Imgbanner {
        margin-top: 70px;
        width: 100%;
        height: 55%;
    }
    .Imgbanner2 {
        margin-top: 25px;
        width: 100%;
        height: 55%;
    }
    .ImagenCarrucelTienda {
        height: 220px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .about_text {
        width: 88%;
        float: right;
        font-size: 45px;
        color: #090807;
        font-weight: 500;
        text-align: right;
        border-bottom: 1px solid #000;
    }

    .Nombre-about {
        margin-top: -30px;
        width: 100%;
    }
    .header_section3 {
        margin-top: 75px;
        height: 200px;
        background-size:  100% 100% ;
         
    
    }
    .acerca-de{
    margin-top: 30px;
    text-align: center;
    font-size: 30px; 
    }
    .imagen-nosotros{
        padding: 0px;
        width: 90%;
    }
    .texto-nosotros{
        padding: 10px 30px;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
   
}
@media only screen and (min-width: 851px) and (max-width: 1024px) {
    .header_section {
        margin-top: 75px;
        width: 100%;
        height: auto;
    }
    .centrar-p{
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .Imgbanner {
        margin-top: 70px;
        width: 100%;
        height: 65%;
    }
    .margin-top-menos{
        margin-top: -5px;
    }
    .ImagenCarrucelTienda {
        height: 220px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .about_text {
        width: 88%;
        float: right;
        font-size: 45px;
        color: #090807;
        font-weight: 500;
        text-align: right;
        border-bottom: 1px solid #000;
    }

    .Nombre-about {
        margin-top: -30px;
        width: 100%;
    }
    .header_section3 {
        margin-top: 75px;
        height: 250px;
        background-size:  100% 100% ;
    
    }
    .acerca-de{
    margin-top: 50px;
    text-align: center;
    font-size: 30px; 
    }
    .imagen-nosotros{
        padding: 0px;
        width: 90%;
    }
    .texto-nosotros{
        padding: 10px 30px;
    }
    
   
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .header_section {
        margin-top: 75px;
        width: 100%;
        height: 350px;
    }
    .centrar-p{
        padding-top: 5px;
        font-size: 17px;
    }
    .Imgbanner {
        margin-top: 20px;
        width: 100%;
        height: 90%;
    }
    .margin-top-menos{
        margin-top: -95px;
    }
    .carousel2 {
        margin-top: 75px;
        width: 100%;
        height: 350px;
        background-image: url(../IMAGE/Header-html/vecteezy_blue-abstract.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }

    .ImagenCarrucelTienda {
        height: 400px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .acerca-de{
        margin-top: 130px;
    text-align: center;
    font-size: 35px; 
    }
}

@media only screen and (min-width: 1367px) and (max-width: 2000px) {
    .header_section {
        margin-top: 75px;
        width: 100%;
        height: 350px;
    }
    .centrar-p{
        padding-top: 0px;
        font-size: 19px;
    }
    .Imgbanner {
        margin-top: 0px;
        width: 100%;
        height: 90%;
    }
    .margin-top-menos{
        margin-top: -180px;
    }
    .carousel2 {
        margin-top: 75px;
        width: 100%;
        height: 350px;
        background-image: url(../IMAGE/Header-html/vecteezy_blue-abstract.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }

    .ImagenCarrucelTienda {
        height: 400px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* *********************************************************
  Loader
********************************************************* */

.loader-overlay {
    width: 100%;
    height: 100%;
    background: #ECF0F1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9999;
  }
  
  .loader {
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -75px;
    position: absolute;
    top: 50%;
    width: 150px;
  }
  .loader .bar {
    background-color: #69C98C;
    font-size: 0;
    height: 6px;
    border-radius: 3px;
    opacity: 0;
    width: 25px;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: subtleIn;
    -webkit-animation-timing-function: ease-in-out;
    display: inline-block;
  }
  .loader .bar:nth-child(1) {
    -webkit-animation-delay: 0s;
  }
  .loader .bar:nth-child(2) {
    background-color: #1abc9c;
    -webkit-animation-delay: .3s;
  }
  .loader .bar:nth-child(3) {
    background-color: #1AB4BC;
    -webkit-animation-delay: .6s;
  }
  .loader .bar:nth-child(4) {
    background-color: #1AA1BC;
    -webkit-animation-delay: .9s;
  }
  .loader .bar:nth-child(5) {
    background-color: #1A7EBC;
    -webkit-animation-delay: 1.2s;
  }
  
  @-webkit-keyframes subtleIn {
    0% {
      opacity: 0;
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
    }
  
    30% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }


/* ============================  Floating Botton  =========================================== */
.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    margin: 30px -15px;

}
.float-element[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #000000;
    color: #9e9e9e;
    
    padding: 0px 5px;
    border-radius: 5px;
    margin-top: -2px; /* Ajusta según sea necesario */
    margin-left: -108px; /* Ajusta según sea necesario */
  }
.floating-container:hover {
    height: 280px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}
.floating-container:hover .element-container .float-element:nth-child(4) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: #A100B9;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .floating-button svg {
    fill: white;
    /* Color del icono */
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
    background: #42A5F5;
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floating-container .float-element:nth-child(2) {
    background: #4CAF50;
    box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container .float-element:nth-child(3) {
    background: #FF9800;
    box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}
.floating-container .float-element:nth-child(4) {
    background: #FF9800;
    box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}
@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

/* ========================== FIN CONTENEDOR FLOTANTE DE LOS FLOATING ACTION BOTON ============================================ */



/*@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .header_section{
        margin-top: 75px;
        width: 100%;
        height: 300px;   
    }
    .Imgbanner{
        margin-top: 48px;
        width: 100%;
        height: 90%;
    }
    .ImagenCarrucelTienda{
        height: 220px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
} */















.curveDownColor {
    margin-bottom: -100px;
}
.curveUpColor{
    margin-top: -100px;
    transform: rotate(180deg);
    padding-bottom: 50px;
}
.curveUpColor, .curveDownColor {
    fill: #F0F6FF;
    stroke: #F0F6FF;
    position: absolute;
    left: 0;
    z-index: 1;
}
.pt-51
    {
        padding-top: 6rem!important;
    }

.footerr{
    width: 100%;
    height: 360px;
    
     
}

.home-footer {
    background: linear-gradient(to left, #081831, #081831, #060F20, #000000, #000000);
}

.home-footer div a {
    text-decoration: none !important;
}

.text-Enlaces {
    color: white;
    transition: color 0.5s ease;
}

.text-Enlaces:hover {
    color: #A100B9
}

.sizeNamefooter {
    width: 250px;
    height: 40px;
}

.bxl-whatsapp .bxl-instagram .bxl-facebook {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease;

}

.bxl-whatsapp:hover {
    color: green;
    transition: color 0.5s ease;
}

.bxl-instagram:hover {
    color: rgb(198, 61, 61);
    transition: color 0.5s ease;
}

.bxl-facebook:hover {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    transition: color 0.5s ease;
}




.ver-div {
    border: 1px solid white;
}